@model FinancesManagment.Models.FinancialAccountMember
@{
    ViewBag.Title = "Financial Account";
}

<h2>Financial account</h2>

<div class="form-horizontal well">
    <div class="form-group">
        @Html.LabelFor(model => model.FinancialAccount.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.FinancialAccount.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FinancialAccount.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(modelItem => Model.FinancialAccount.Summary, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

@if (Model.MemberPermissions.Find(p => p.Permission.Title == "Make transaction") != null)
{
    <div class="row">
        @Html.Partial("Transaction", new { Id = Model.Id })
    </div>
}
<br />

<div id="result" class="alert alert-info form-group" hidden>
    <a href="#" class="close" aria-label="close" onclick="$('#result').hide()">&times;</a>
</div>

