@model IEnumerable<FinancesManagment.Models.Currency>

@{
    ViewBag.Title = "Create";
}

<h2>Create new account</h2>

@using (Html.BeginForm("Create", "FinancialAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label for="Name" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input id="Name" name="Name" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="Currency" class="control-label col-md-2">Currency</label>
            <div class="col-md-10">
                <select id="Currency" name="CurrencyId" class="form-control">
                    @foreach(var item in Model)
                    {
                        <option value="@item.Id">@item.Code</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <div id="result" class="alert alert-info form-group">
        @ViewBag.Message
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
