@model FinancesManagment.Models.FinancialAccount

@{
    ViewBag.Title = "Edit";
}

<h2>Financial Account</h2>

@if (ViewBag.Message != null)
{
    <div id="result" class="alert alert-info form-group">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("Edit", "FinancialAccount", null, FormMethod.Post, new { id = "editform"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => Model.Summary, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
}
<div class="form-group btn-group">
    <button class="btn btn-primary" onclick="$('#editform').submit()">Save</button>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("AddUser", "FinancialAccount", new { Id = Model.Id })'">Add user</button>
</div>

<div id="result" class="alert alert-info form-group" hidden>
    <a href="#" class="close" aria-label="close" onclick="$('#result').hide()">&times;</a>
</div>

<div class="row">
    <div class="col-xs-6">
        <label for="Amount">Amount</label>
        <input id="Amount" class="form-control text-box single-line" type="number"/>

        <label for="Category">Category</label>
        <input id="Category" class="form-control text-box single-line" type="text" />
        
        <button class="form-control btn btn-primary" onclick="window.location.href='@Url.Action("MakeTransaction", "FinancialAccount", new { Id = Model.Id })'">Transact</button>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.FinancialAccountMembers)
            {
                <tr id="member_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialAccountRole.Title)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (item.FinancialAccountRole.Title != "Owner")
                            {
                                <button class="btn btn-info">Edit permissions</button>
                                <button class="btn btn-danger" onclick="onRemove(@item.Id)">Remove</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<script type="text/javascript">
    function onRemove(memberId) {
        $.post("@Url.Action("RemoveMember")", { Id: memberId }, function (data) {
            if (data.success) {
                $("#member_" + memberId).remove();
                $("#result").addClass("alert-info");
                $("#result").removeClass("alert-danger");
                $("#result").text(data.email + " was successfully removed from the account");
                $("#result").show();
            } else {
                $("#result").addClass("alert-danger");
                $("#result").removeClass("alert-info");
                $("#result").text("Failed to remove "+ data.email + " from the account");
                $("#result").show();
            }
        });
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}