@model FinancesManagment.Models.FinancialAccountMember

@{
    ViewBag.Title = "Edit";
}

<h2>Financial Account</h2>

@if (ViewBag.Message != null)
{
    <div id="result" class="alert alert-info form-group">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("Edit", "FinancialAccount", null, FormMethod.Post, new { id = "editform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FinancialAccount.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FinancialAccount.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinancialAccount.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinancialAccount.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinancialAccount.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="summary" class="col-md-10">
                @Html.DisplayFor(modelItem => Model.FinancialAccount.Summary, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
}
<div class="form-group btn-group">
    <button class="btn btn-primary" onclick="$('#editform').submit()">Save</button>
    @Html.ActionLink("Add user", "AddUser", new { Id = Model.FinancialAccount.Id }, new { @class = "btn btn-primary" })
</div>

<div id="result" class="alert alert-info form-group" hidden>
    <a href="#" class="close" aria-label="close" onclick="$('#result').hide()">x</a>
</div>

<div class="row">
    @Html.Partial("Transaction", new { Id = Model.Id })
    <div class="col-xs-6">
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Role
                </th>
                <th>
                    Quote
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.FinancialAccount.FinancialAccountMembers)
            {
                <tr id="member_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialAccountRole.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote)
                    </td>
                    <td>
                        <div class="btn-group">
                            @if (item.FinancialAccountRole.Title != "Owner")
                            {
                                @Html.ActionLink("Edit permissions", "EditPermissions", new { Id = item.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Set quote", "SetQuote", new { Id = item.Id }, new { @class = "btn btn-info" })
                                <button class="btn btn-danger" onclick="onRemove(@item.Id)">Remove</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<hr />
@Html.ActionLink("To accounts list", "Index", "Home", null, new { @class = "btn btn-default" })

<script type="text/javascript">
    function onRemove(memberId) {
        $.post("@Url.Action("RemoveMember")", { Id: memberId }, function (data) {
            if (data.success) { 
                $("#member_" + memberId).remove();
                $("#result").addClass("alert-info");
                $("#result").removeClass("alert-danger");
                $("#result").text(data.email + " was successfully removed from the account");
                $("#result").show();
            } else {
                $("#result").addClass("alert-danger");
                $("#result").removeClass("alert-info");
                $("#result").text("Failed to remove " + data.email + " from the account");
                $("#result").show();
            }
        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
