@model FinancesManagment.Models.FinancialAccountMember

@{
    ViewBag.Title = "Edit";
}

<h2>Financial Account @Html.ActionLink("To accounts list", "Index", "Home", null, new { @class = "btn btn-default" })</h2>

@if (ViewBag.Message != null)
{
    <div id="result" class="alert alert-info form-group">
        @ViewBag.Message
    </div>
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <label for="Name" class="control-label col-md-2">Name</label>
            <div>
                <input type="text" id="Name" class="form-control" value="@Model.FinancialAccount.Name"/>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.FinancialAccount.Currency.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.DisplayFor(modelItem => Model.FinancialAccount.Currency.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.FinancialAccount.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="summary">
                @Html.DisplayFor(modelItem => Model.FinancialAccount.Summary, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-info" onclick="save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
            <a class="btn btn-danger" onclick="deleteAccount(@Model.FinancialAccount.Id)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>

    </div>
</div>


<div id="result" class="alert alert-info form-group" hidden>
    <a href="#" class="close" aria-label="close" onclick="$('#result').hide()">x</a>
    <p id="resultInfo"></p>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Transaction", Model)
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Transactions History
            </div>
            <div class="panel-body">
                @Html.Partial("TransactionsHistory", Model.Transactions)
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Account Members @Html.ActionLink("+", "AddUser", new { Id = Model.FinancialAccount.Id }, new { @class = "btn btn-xs btn-default" })
            </div>
            <div class="panel-body">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Role</th>
                            <th>Quote</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.FinancialAccount.FinancialAccountMembers)
                        {
                            <tr id="member_@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinancialAccountRole.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quote)
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        @if (item.FinancialAccountRole.Title != "Owner")
                                        {
                                            <a class="btn btn-info" href="@Url.Action("EditPermissions", new { Id = item.Id })">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            @Html.ActionLink("%", "SetQuote", new { Id = item.Id }, new { @class = "btn btn-xs btn-info" })
                                            <button class="btn btn-xs btn-danger" onclick="onRemove(@item.Id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function save() {
        $.post("@Url.Action("Edit")", {
            Id: @Model.FinancialAccount.Id, 
            Name: $('#Name').val() 
        }, function (data) {
            createAlert(data.status);
        });
    }

    function onRemove(memberId) {
        createConfirm(function () {
            $.post("@Url.Action("RemoveMember")", { Id: memberId }, function (data) {
                if (data.success) {
                    $("#member_" + memberId).remove();
                    createAlert("User removed");
                } else {
                    createAlert("Failed to remove user");
                }
            });
        });
    }

    function deleteAccount(account) {
        createConfirm(function () {
            $.post("@Url.Action("DeleteAccount")", { Id: account }, function (data) {
                if (data.success) {
                    createAlert(data.status, function () { window.location.href = '/'; });
                } else {
                    createAlert(data.status);
                }
            });
        });
    }

    function createAlert(text, onConfirm) {
        $.alert({
            content: "",
            title: text,
            confirm: onConfirm || function () { },
            confirmButton: 'Ok'
        });
    }

    function createConfirm(onConfirm) {
        $.confirm({
            content: "",
            title: "Are you sure?",
            confirm: onConfirm,
            cancel: function () {
            },
            confirmButton: 'Yes',
            cancelButton: 'No'
        });
    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
