@model IEnumerable<FinancesManagment.Models.Transaction>
<table class="table">
    <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>Category</th>
            @if (bool.Parse(ViewData["edit"].ToString()))
            {
            <th>User</th>
            }
            else
            {
                <th>Account</th>
            }
        </tr>
    </thead>
    @foreach (var item in @Model.Reverse())
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
            @if (bool.Parse(ViewData["edit"].ToString()))
            {
                @Html.DisplayFor(modelItem => item.FinancialAccountMember.ApplicationUser.Email)
            }
            else
            {
                @Html.DisplayFor(modelItem => item.FinancialAccountMember.FinancialAccount.Name)
            }
            </td>
        </tr>
    }
</table>