@model IEnumerable<FinancesManagment.Models.FinancialAccountMember>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finances Manager</h1>
    <p class="lead">Manage yor personal and group finances easily.</p>
</div>

@if (User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4">
            <h2>Your accounts</h2>
            @Html.ActionLink("Create new", "Create", "FinancialAccount", null, new { @class = "btn btn-default" })
            <div class="list-group">
                @foreach (var item in Model)
                {
                    string style = (item.FinancialAccountRole.Title == "Owner") ? "list-group-item active" : "list-group-item";
                    <a class="@style" href="@Url.Action("Edit", "FinancialAccount", new { Id = item.FinancialAccount.Id})"><span class="badge">@Html.DisplayFor(i => item.FinancialAccount.Summary)</span>@Html.DisplayFor(i => item.FinancialAccount.Name)</a>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="well">
        Please, @Html.ActionLink("Sign In", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account")
    </div>
}